// 共通変数を定義
$color_timerBackground: #F3F2F9;

// z-indexの指定
$zIndex_backgroundOverlay: 100;
$zIndex_loadingBar: 20;
$zIndex_timerStartButton: 20;
$zIndex_activeTimer: 20;
$zIndex_recordGroupHeader: 10;
$zIndex_calendarNav: 10;